<%= render 'shared/content_title', title: "New Comment" %>
<%= render 'shared/errors', obj: @comment %>

<div class="well">
	<%= form_for @comment do |f| %>
		<div class="control-group">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<%= f.submit "Create Comment", class: "btn btn-success" %>
	<% end %>
</div>